<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="portName" value="COM15"/>
    <add key="baudRate" value="9600"/>
    <add key="dtrEnable" value="true"/>
    <add key="rtsEnable" value="true"/>
    <add key="minX" value="465"/>
    <add key="maxX" value="3660"/>
    <add key="minY" value="470"/>
    <add key="maxY" value="3590"/>
    <add key="rightClickAllowedDeviationInPixels" value="25"/>
    <add key="rightClickHoldTimeInMilliseconds" value="500"/>
  </appSettings>
</configuration>
